.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 3.2rem;
}

.menuLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.menuLink:hover {
  filter: brightness(50%);
}

.menuLink svg {
  width: 2.5rem;
  height: 2.5rem;
}
button {
  background-color: var(--primary);
  border-radius: 1rem;
  border: 5rem;
  width: 5rem;
  height: 5rem;
}
